{% extends "_base.html" %}
{% block content %}
    <div class="row">
      <div class='intro span9 offset1'>
        <h1>Register for CAURS 2013</h1>
        <div class='role'>
          <a href="/student"><div id='student-btn' class='btn btn-large btn-primary'><i class='icon-book icon-white'></i> Student</div></a>
          <a href="/judge"><div id='judge-btn' class='btn btn-large btn-primary'><i class='icon-briefcase icon-white'></i> Judge</div></a>
        </div>

        <div class='details lead'>
          <div class='map offset1'><a href="https://maps.google.com/maps?ie=UTF-8&gl=us&daddr=3360+S+State+St,+Chicago,+IL+60616&panel=1&f=d&fb=1&dirflg=d&geocode=0,41.834038,-87.625680&cid=0,0,10505741682962296602&hq=illinois+institute+of+technology&hnear=illinois+institute+of+technology&ei=tu34ULfLCKq30AGdkoDoDg&ved=0CKYBEPUX"><img src="img/map.png"></a></div>
          <span class='date'>April 6, 2013</span>
          <span class='location'>@ Illinois Institute of Technology</span>
          <a href='https://maps.google.com/maps?ie=UTF-8&gl=us&daddr=3360+S+State+St,+Chicago,+IL+60616&panel=1&f=d&fb=1&dirflg=d&geocode=0,41.834038,-87.625680&cid=0,0,10505741682962296602&hq=illinois+institute+of+technology&hnear=illinois+institute+of+technology&ei=tu34ULfLCKq30AGdkoDoDg&ved=0CKYBEPUX'>Get directions &rarr;</a>
        </div>
        <div class='blurb'>
          The Chicago Area Undergraduate Research Symposium (CAURS) is one of the largest annual undergraduate research conferences in the country, bringing together hundreds of undergraduate students in the Chicagoland area from all academic disciplines to present their research and explore work that is being done by other students. Through poster presentations, oral presentations, and roundtable discussions, attendees experience the impressive breadth and depth of research being conducted by their peers and network with other undergraduates, graduate students, faculty, and representatives from industry and graduate and professional schools.
        </div>
      </div>
    </div>
{% endblock %}
