Dear {{ form['name'] }}, 

Thanks for registering for CAURS 2013!!. If you have any questions
feel free to email the directors at #felix's email#, or the board. 
We will email you with more details closer to the event. 

your registration number is {{ form['reg_num'] }}. To view your 
registration go to http://dev.caurs.com/6000/view/{{ form['reg_num'] }}

Best,
Felix and Jeffery
