{% extends "_base.html" %}
{% block content %}
    <div class="row">
      <div class='intro span9 offset1'>
        <h1>{{ title }}</h1>
      </div>
    </div>

    <div class='row'>
      <div class='reg-form span9 offset1'>
        <div class='row'>
          <div class='span3'>
            {% include "_form.html" %}
          </div>

          <div class='span5 offset1'>
            <ul class='timeline'>
                <h4>Important Dates</h4>
                <li>
                  <span class='dateline'>January 18, 2013</span>
                  <span class='event'>Participant registration and abstract submission opens online</span>
                </li>

                <li>
                  <span class='dateline'>March 2, 2013</span>
                  <span class='event'>Deadline for oral presentation abstract submission</span>
                </li>

                <li>
                  <span class='dateline'>March 9, 2013</span>
                  <span class='event'>Notification of participants selected to give oral presentations</span>
                </li>

                <li>
                  <span class='dateline'>March 16, 2013</span>
                  <span class='event'>Deadline for poster presentation abstract submission</span>
                </li>

                <li>
                  <span class='dateline'>April 6, 2013</span>
                  <span class='event'>CAURS 2013</span>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
